* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  color: #eee;
}

#chessboard-board {
  width: 30em !important;
  flex-shrink: 0;
}

.spoiler {
  background-color: #eee;
  cursor: default;

  &:hover {
    background-color: transparent;
  }
}

hr {
  margin: 1rem 0;
}

.branch-list__header {
  padding: 0 0.5rem;
  font-family: monospace;
}

.branch {
  display: contents;
  font-family: monospace;

  > * {
    padding: 0 0.5rem;
    background-color: #333;
    border-bottom: 1px solid #333;
  }

  // &--seen > * {
  // background-color: #111;
  // }

  &--expanded {
    > * {
      color: #ccc;
      background-color: #444;
    }

    .branch__level {
      font-weight: 700;
    }
  }

  &--overdue > * {
    background-color: #000;
    color: #fff;
  }

  &--overdue.branch--expanded > * {
    background-color: #222;
  }
}
